*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body style*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*menu container styles*/
.menu-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #111111;
    height: 85px;
    justify-content: space-around;
}
.menu-container, .link a{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 14px;
}
.link{
    margin: 10px;
}
.link-1{
    margin-right: auto;
}

/*slideshow styles*/
.slideshow-background{
    height: 50vh;
    background: linear-gradient(#34b975, transparent 90%),
                linear-gradient(0deg,rgb(219, 189, 189), transparent), #eeabb2 url("bid1.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.slideshow-background h1{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-wrapper-2{
    height: 50vh;
    width: 100%;
   
}
.slideshow-back{
    height: 50vh;
    background: linear-gradient(#34b975, transparent 90%),
                linear-gradient(0deg,rgb(219, 189, 189), transparent), #eeabb2 url("bid1.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
  
}

.slideshow-back p{
    text-align: center;
    margin: auto;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
}
/*display lap styles*/
.display-lap{
    height: 65vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}
.item {
    background-color: #fff;
    float: left;
    margin: 0 10px 10px 0;
    width: 205px;
    padding: 10px;
    height: 290px;
}
.item img {
    display: block;
    margin: auto;
    height: 140px;
    width: -webkit-fill-available;
}
.item h2 {
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}
.item button {
    border: 1px solid #FFFFFF;
    padding: 4px 14px;
    background-color: #5feb0e;
    color: #FFFFFF;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    width: 96px;
    border-radius: 25px;
}

/*style the lower content*/
.lower-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40vh;
    background-color: rgba(189, 184, 184, 0.856);
    flex: 1;
}
.lower-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    background-color: rgba(189, 184, 184, 0.856);
    flex: 1;
}
.lower-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    background-color: #FFF;
    height: 40vh;
    /*flex-direction: row;*/
}
.cont i{
    color: brown;
}
.cont{
    flex: 1 200px;
}
.cont h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px;
   
}
.cont i{
    color: aliceblue;

}
.cont p{
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
}
/*footer style*/
.main-footer{
    height: 30vh;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}
.main-footer span{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin: auto;

}
/*form styles*/
.form-content{
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(19, 18, 18, 0.897);
    padding: 30px;
}
.formal{
    background-color: #f5f5f1;
    margin: 4px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 454px; /* Could be more or less, depending on screen size */
    height: 604px;
    border-radius: 17px;
}
.imgContainer{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar{
    width: 40%;
    border-radius: 50%;
}
.container-1{
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
  }
span.psw-1{
    float: left;
    padding-top: 16px;
}
   /* Set a style for all buttons */
   button{
    background-color: rgb(13, 70, 228);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 16px;
  }
   button.log-btn {
    background-color: rgb(13, 70, 228);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button.log-btn:hover {
    opacity: 0.8;
  }
 /* Extra styles for the cancel button */
 .cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
 }
      

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /*style the modal display*/
  .modal{
      display: none;
      position: fixed;
      z-index: 1;
      left: 120px;
      top: 60px;
      width: 70%;
      height: 55%;
      /*overflow: auto; Enable scroll if needed */
      background-color: rgb(17, 1, 1); /* Fallback color */
      background-color: rgba(61, 9, 9, 0.555); 
  }
  /* Modal Content/Box */
.modal-content {
    background-color: #dfda9ecc;
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 50%;
    border-radius: 18px;
  }
  
  /* The Close Button */
  .close1, .close {
    color: rgb(224, 110, 17);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*------------media queries-------------*/
  /*--------screen defination--------------*/
  @media only screen and (max-width: 600px){
    .slideshow-background{
        background-attachment: inherit;
        background: url(mac3.jpg);
        background: linear-gradient(rgb(57, 185, 218), transparent 90%), linear-gradient(0deg,rgb(219, 189, 189), transparent), #EEAC5A url(mac3.jpg) no-repeat;
        background-size: cover;
        }

        .display-lap{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }

        .lower-container2{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }

        .menu-container{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }
  }
  .lower-container{
      display: flex;
      flex-wrap: wrap;
      height: 100%;
  }

  .formal{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

  .item{
      height: 300px;
      width: 240px;
      border-radius: 10px;
      box-shadow: 10px 10px 5px #4d504d;
  }